
.app{
    display: flex;
    justify-content: space-between;
}

.star{
    display: flex;
    gap: 10px;
} 

.review{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #707070;
}

.stareReview{
    display: flex;
}


.Carousal__data{
    margin-left: 65px;
    width: 266px;
    height: 310px;
    overflow: hidden;
}

.second_body{
    position: relative;
    display: flex;
    margin-top: 15px;
    gap: 0%;
    margin-right: 4%;
}

.act_indecator{
    margin-top: 12px;
    height: 16px;
    width: 16px;
    border-radius: 180px;
    background-color: #4978E8;
}

.indecator{
    margin-top: 12px;
    height: 16px;
    width: 16px;
    border-radius: 180px;
    border: 2px solid #4978E8;
}
.Second_div{
    position: relative;
}
.remover{
    background-color: white;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    position: absolute;
    top: 0;
    left: 19.4vw;
    width: 11px;
    height: 97px;
}
.price{
    width: 20vw;
    padding: 5px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 10px;
}
.active{
    
    border-right: none;
    border-top: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.moneydis{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #707070;
    margin-top: -14px;

}

.money{
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #707070;
}

.avaiblebtn{
    display: flex;
    gap: 10px;
    margin-top: -14px;
}
.second_lastbtn{
    margin-right: 10%;
    margin-left: 10%;
}
.Third{
    width: 100%;
    margin-right: 100px;
}
.details{
    width: 517px;
    border: 1px solid #CFCFCF;
    padding: 10px;
    border-radius: 4px;
}
.third_detailsm{
    display: flex;
    gap: 30px;
    margin-bottom: 32px;
}
.price_margin{
    margin-bottom: 15px;
}



.para_h{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #707070;

}

.detailbtn{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.good{
    display: none !important;
}



/* reponsive.... */

@media (max-width:768px) {

    .app{
        display: flex;
        flex-direction: column;
    }
    .detailbtn{
        display: none;
    }
    
    .first{        
        border-bottom: 1px solid #BBBBBB;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    .active{
        border: none;
        border-bottom: none !important;
    }
    .second_body{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-right: 10px;
    }
    .price{
        width: 100%;
        border-bottom: 1px solid #BBBBBB;
    }
    .price_margin{
        margin-bottom: 15px;
    }
    .remover{
        display: none;
    }
    .Third{
        position: absolute;
        top: 65px;
    }
    .inactive{
        margin-top: 375px;
    }
    .details{
        width: auto;
        border: none;
    }
    .second_lastbtn{
        margin-right:20%;
        margin-left: 20%;
    }
    .Third{
        border-bottom: 1px solid #BBBBBB;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .good{
        margin-bottom: 10px;

    }
}

/* for good feell.. */

@media (max-width:911px) {
    .Third{
        width: 100%;
        margin-right: 100px;
    }
    .details{
        width: auto;
    }
    .second_lastbtn{
        margin-right: auto;
        margin-left: auto;
    }
    .price_margin{
        margin-bottom: 50px;
    }
}